
.advertismentPanel {
    display: grid;
    margin-right: 3rem;
    overflow: hidden;
    height: fit-content;
    display: grid;
    margin-right: 3rem;
    overflow: hidden; /* Ensures child overflow is hidden */ 
    position: relative; /* Necessary for absolutely positioning children */
}
.centralPanel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mainText {
    max-width: 80vh;
    font-size: 5rem; 
}
.cursive-word{
    font-style:italic;
}
.quoteText {
    font-family: Urbanist;
    padding-top: 2rem;
    font-size: 2.1vh;
}
.buttonPannel {
    flex-wrap: wrap;
    display: flex;
    padding-top: 5rem;
}
.buttonPannel .arrow {
    padding-left: 0.3rem;
    width: 1rem;
} 
.buttonPannel button {
    display: flex; 
    align-items: center;
    margin-right: 3rem;
} 
.buttonPannel button:hover { 
    background: #FEEAA5; 
}
.buttonPannel button:hover .arrow{
    animation: 0.5s scaleOut; 
    animation-fill-mode: forwards;
}
@keyframes scaleOut {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(1.3);
    }
}
.auth-panel {
    padding: 1rem;
    border-radius: 4vh;
    min-width: 15rem;
    background: #E6F0F1;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Adds subtle shadow for depth */
    margin: 0 auto; /* Center on smaller screens */
} 
.auth-panel h2 {
    padding-bottom: 1vh;
    text-align: center;
    margin: 0px;
    border-bottom: 2px solid rgba(143, 199, 154, 0.4);
}
.auth-panel .line {  
    padding-bottom: 0;
    border-bottom: 2px solid rgba(143, 199, 154, 0.4);
}
.submitButton {
    width: 10vh;
    font-size: 2vh;
    font-family: Archivo Black;
    padding: 0.5rem; /* Adjust padding for smaller screens */
    text-align: center; /* Center text on buttons */
}
.submitButton:hover {
    color: #FDB137;
}
.checkbox-group {
    display: flex;
    margin: 1vh;
    padding: 1vh;
    width: 7rem;
    border-radius: 2vh;
    border: 1px solid rgba(0, 0, 0, 0.1 );
    font-family: Urbanist;
    justify-content: space-between;
}
.checkbox-group label {
    cursor: pointer;
    margin-left: auto;
}
.mailDiv {
    justify-content: space-around;
    display: flex; 
}
.gradient-border {
    height: fit-content;
    margin-left: auto;
    overflow: visible;
    display: flex;
    padding: 15px;
    border-radius: 5vh; /* Optional: For rounded corners */
    border: 3px solid;
    background: linear-gradient(228.42deg, #E6F0F1 -2.67%, #8FC79A 26.21%, #E6F0F1 92.02%);
    -webkit-background-clip: padding-box; /* For Safari */
    background-clip: padding-box; /* Makes sure background does not bleed into the border */
    border: 5px solid transparent; /* Sets the width of the gradient border */
}
.authPanelContent{
    overflow:hidden;
}
.headPanel {
    display: flex;
    margin: 1vh;
    align-items: center;
    flex-wrap: wrap;
}
.headPanel p {
    margin:0vh;
    text-align: left;
}
.mainCheckBox {
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}

.mainCheckBox.on {
    background-color: #8FC79A; /* Green background when "on" */
}

.mainCheckBox.off {
    background-color: #ccc; /* Grey background when "off" */
}

.mainCheckBoxButton {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
}

.mainCheckBox.on .mainCheckBoxButton {
    transform: translateX(30px); /* Move button to the right when "on" */
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    border-radius: 0.5vh;
    padding: 0 1vh;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.panel-open {
    max-height: 20vh; /* Adjust according to content size */
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.panel-closed {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}
@media (min-width: 3440px) {
    .checkbox-group {
        margin: 1vh;
        padding: 1vh;
        width: 4vh;
        border-radius: 2vh;
        border: 1px solid rgba(0, 0, 0, 0.1 );
        font-family: Urbanist;
    } 
}
@media (min-width: 2560px) {
    .gradient-border{
        overflow:visible;
    }
    .checkbox-group {
        margin: 1vh;
        padding: 1vh;
        width: 60%;
        border-radius: 2vh;
        border: 1px solid rgba(0, 0, 0, .1);
        font-family: Urbanist;
    }
}
@media (max-width: 768px) {
    .centralPanel {
        padding-top:3rem;
    }
    .mailDiv { 
        flex-wrap: wrap;
    }
    .advertismentPanel {
        margin-right: 0; /* Reduce margin on smaller screens */
    }

    .mainText {
        font-size: 3rem; /* Reduce font-size on smaller screens */
        margin: 0.5rem;
    }

    .quoteText {
        font-size: 1.5vh; /* Adjust text size on smaller screens */
        margin: 0.5rem;
        text-align:center;
    }

    .buttonPannel {
        padding: 2rem; /* Reduce top padding on smaller screens */
    }

    .submitButton {
        width: 8vh; /* Adjust button width */
    }

    .checkbox-group {
        width: 6rem; /* Adjust width of checkbox group */
    }

    .gradient-border {
        padding: 10px; /* Adjust padding on smaller screens */
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .buttonPannel button{
        margin-right:0;
        display:block;
    }
}

     


     
